<div class="container">
  <ng-template #errors>
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <div class="card  mt-2" *ngIf="bills; else errors">
    <div class="card-header">Bills List</div>
    <div class="card-body">
      <div class="row d-flex align-items-center">
        <div class="col">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchBills()">
            <div class="input-group">
              <label class="input-group-text">Keyword: </label>
              <input type="text" class="form-control" formControlName="keyword">
              <button class="btn btn-outline-dark">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col col-lg-2">
          <nav class="p-2 text-center">
            <button *ngIf="authService.hasRole('ADMIN')" class="btn btn-dark" (click)="handleNewBill()">New Bill</button>
          </nav>
        </div>
      </div>
      <table class="table table-hover mt-2">
        <thead>
        <tr class="text-center">
          <th>ID</th> <th>Billing Date</th><th>Customer Id</th><th>Customer Name</th><th>Product Items</th><th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of bills" class="text-center align-middle">
          <td>{{b.id}}</td>
          <td>{{b.billingDate | date:'fullDate'}}</td>
          <td>{{b.customerID}}</td>
          <td>{{b?.customer?.name}}</td>
          <td>
            <table class="table">
              <thead>
              <tr class="text-center">
                <th>Product Name</th><th>Quantity</th><th>Price</th>
              </tr>
              </thead>
              <tbody *ngFor="let p of b.productItems">
                <td>{{p.productName}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.price}}</td>
              </tbody>
              <tfoot>
              <tr>
                <th></th><th></th><td></td>
              </tr>

                <th></th><th>Total</th><td>{{getTotalPrice(b)}}</td>

              </tfoot>
            </table>
          </td>
          <td *ngIf="authService.hasRole('ADMIN')">
            <button (click)="handleDeleteBill(b)" class="btn btn-danger">
              <i class="bi bi-trash"> </i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


